<div>
    <mat-toolbar color="basic" class="space">
        <mat-toolbar-row>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
                <div fxFlex="50">
                    <span (click)="goToList()" class="pointer">Eevee Blog</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center" fxFlex="50">
                    <button mat-button (click)="goToAddPublication()">Add publication</button>
                </div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
